/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}
.material-Icon{
color: rgba(200, 00, 00, 70);
}
.Input{
  outline: none;
  border-radius: 10px;
  padding-top: 3%;
  justify-content: center;
 background-color: rgb(224, 228, 236);
 width: 100vh;
 padding: 10px ;
 border: 0;
}
.Div{
  background-color: rgb(224, 228, 236);
  width: 100vh;
  padding: 10px ;
  border: 0;
 }
 .Button{
  border-radius: 10px;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  border: 0px;
  background-color: aqua;
  font-weight: bold;
 }
 .title{
   height: 3rem;
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .divItems{
   justify-content: space-evenly;
   border-radius: 10px;
   margin-top: 10px;
   background-color: aqua;
   width: 50%;
   display: flex;
   align-items: center;
 }
 .SubmitButton{
   width: auto;
   padding: 5px;
 }
 .Button-Style{
   outline: none;
 }